.book-detail-wrapper {
  height: auto;
  min-height: 100%;
  padding-bottom: 150px;
  overflow: hidden;
}

.book-detail-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(100% - 40px);
  margin: 20px;
}

.book-detail-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.book-cover {
  flex-shrink: 0;
  margin-right: 20px;
}

.book-cover img {
  max-width: 200px;
  height: 300px;
  object-fit: cover;
}

.book-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px;
}

.book-info h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  display: flex;
  align-items: center;
}

.book-info h2 {
  font-size: 18px;
  color: #666;
  margin: 5px 0 0 0;
}

.book-details-wrapper {
  background-color: #fafaf6;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
}

.book-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.book-details li {
  margin-right: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.book-details p {
  font-size: 12px;
  text-align: center;
  margin: 0;
}

.book-details strong {
  font-size: 14px;
}

.divider {
  width: 1px;
  background-color: #ddd;
  margin: 0 10px;
}

.reviews-section {
  width: 100%;
  margin-top: 20px;
}

.review {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.review-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: flex-start;
}

.review-form textarea {
  padding: 10px;
  margin-bottom: 10px;
  resize: vertical;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
}

.review-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.review-form button:hover {
  background-color: #0056b3;
}
